node_modules
certs
test
.*
*.sh
*.tgz
*.ts
!*.d.ts
tsconfig.json
go.*
*.go
*.log
ngrpc.json
test.*
postpublish.js
main.*
script.*
user-server
pm2.config.js
cert-ext.conf
cli.d.ts
services/*.go
services/*.js
services/*.js.map
services/*.d.ts
services/*.ts
proto/github/ayonli/*.proto
!services/ExampleService.ts
proto/github
gorpc.*
