.*
*.sh
*.tgz
*.log
*.go
go.*
tsconfig.tsbuildinfo
tsconfig.json
ngrpc.json
ngrpc.schema.json
postpublish.js
pm2.config.js
cert-ext.conf
certs/
entry/
proto/
services/
scripts/
dist/entry/
dist/services/
dist/scripts/
prebuild/
